<nav class="navbar all-content navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand text-white-surya" href="#">
            <img src="/assets/lotus.jpg" alt="Surya" width="30" class="d-inline-block round-user">&nbsp;SuRyA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#cfffe175;">
            <div class="navbar-nav">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                <a class="nav-link text-white" aria-current="page" routerLink="/about" >About</a>
                <a class="nav-link text-white" href="#">Pricing</a>
                <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                <!-- <i class="fas fa-camera-retro"></i> -->
            </div>
        </div>
    </div>
</nav>