.bg-success
{     
    background-image: linear-gradient(rgba(0,255,0,0.3),rgba(0,255,0,0.3)),
                    url("../../assets/surya.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
} 