<div class="main-section">
	<div class="row main-section-row" style="width: 100%;margin-top: 4px;">
		<div class="col-6">
			<div class="msg-section" data-aos="fade-right" data-aos-duration="900">
				<span class="msg-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is SuRyA,Please
					checkout my
					Website....Thank you :)</span>
			</div>
			<div class="container center-details" data-aos="zoom-in" data-aos-duration="1500">
				<div class="row">
					<div class="col">
						<span class="hello">Hello, I am </span><br>
						<span class="name">Surjyakanta Das</span><br>
						<span class="description">Frond end Designer | Developer</span><br>
						<hr>
						<br>
						<a href="/assets/SURJYAKANTA DAS_Resume_2025.pdf" download><button type="button" class="btn btn-outline-success"><mat-icon aria-hidden="false" fontIcon="print"></mat-icon>&nbsp;Print Resume</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col" style="padding-right: 0;overflow: hidden;">
			<div class="col .image-col" data-aos="fade-left" data-aos-duration="1800">
				<div class="image-right">
					<img src="/assets/1714403513062_bg_removed.png.png" alt="Surya" class="img-fluid img-thubnail">
				</div>
				<div class="image-text">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Associate Software Engineer at Carelon Global Solutions
				</div>
			</div>
		</div>
	</div>
</div>
<!-- I am a Software Engineer. I have a passion for web development and love to
						create -->